<a href="https://colab.research.google.com/github/apraveen005/machine_learning_with_python/blob/master/Lecture06_Oct04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
homelessness=pd.read_csv('homeless.csv',index_col=0)
homelessness.head(7)

   family_members  individuals              region        state  state_pop
0           864.0       2570.0  East South Central      Alabama    4887681
1           582.0       1434.0             Pacific       Alaska     735139
2          2606.0       7259.0            Mountain      Arizona    7158024
3           432.0       2280.0  West South Central     Arkansas    3009733
4         20964.0     109008.0             Pacific   California   39461588
5          3250.0       7607.0            Mountain     Colorado    5691287
6          1696.0       2280.0         New England  Connecticut    3571520

In [ ]:
homelessness.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   family_members  52 non-null     float64
 1   individuals     52 non-null     float64
 2   region          52 non-null     object
 3   state           52 non-null     object
 4   state_pop       52 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

In [ ]:
homelessness.shape

(52, 5)

In [ ]:
homelessness.describe()

       family_members    individuals     state_pop
count       52.000000      52.000000  5.200000e+01
mean      3441.750000    7095.173077  6.293560e+06
std       7741.906258   15861.462368  7.299944e+06
min         75.000000     434.000000  5.776010e+05
25%        566.250000    1440.750000  1.668050e+06
50%       1274.000000    2952.500000  4.321520e+06
75%       3169.000000    6766.750000  7.249485e+06
max      52070.000000  109008.000000  3.946159e+07

In [ ]:
homelessness.values

array([[864.0, 2570.0, 'East South Central', 'Alabama', 4887681],
       [582.0, 1434.0, 'Pacific', 'Alaska', 735139],
       [2606.0, 7259.0, 'Mountain', 'Arizona', 7158024],
       [432.0, 2280.0, 'West South Central', 'Arkansas', 3009733],
       [20964.0, 109008.0, 'Pacific', 'California', 39461588],
       [3250.0, 7607.0, 'Mountain', 'Colorado', 5691287],
       [1696.0, 2280.0, 'New England', 'Connecticut', 3571520],
       [374.0, 708.0, 'South Atlantic', 'Delaware', 965479],
       [3134.0, 3770.0, 'South Atlantic', 'District of Columbia', 701547],
       [9587.0, 21443.0, 'South Atlantic', 'Florida', 21244317],
       [2556.0, 6943.0, 'South Atlantic', 'Georgia', 10511131],
       [2399.0, 4131.0, 'Pacific', 'Hawaii', 1420593],
       [715.0, 1297.0, 'Mountain', 'Idaho', 1750536],
       [3891.0, 6752.0, 'East North Central', 'Illinois', 12723071],
       [1482.0, 3776.0, 'East North Central', 'Indiana', 6695497],
       [1038.0, 1711.0, 'West North Central', 'Iowa', 3148618],
       [773.0, 1443.0, 'West North Central', 'Kansas', 2911359],
       [953.0, 2735.0, 'East South Central', 'Kentucky', 4461153],
       [519.0, 2540.0, 'West South Central', 'Louisiana', 4659690],
       [1066.0, 1450.0, 'New England', 'Maine', 1339057],
       [2230.0, 4914.0, 'South Atlantic', 'Maryland', 6035802],
       [13257.0, 6811.0, 'New England', 'Massachusetts', 6882635],
       [3142.0, 5209.0, 'East North Central', 'Michigan', 9984072],
       [3250.0, 3993.0, 'West North Central', 'Minnesota', 5606249],
       [328.0, 1024.0, 'East South Central', 'Mississippi', 2981020],
       [2107.0, 3776.0, 'West North Central', 'Missouri', 6121623],
       [422.0, 983.0, 'Mountain', 'Montana', 1060665],
       [676.0, 1745.0, 'West North Central', 'Nebraska', 1925614],
       [486.0, 7058.0, 'Mountain', 'Nevada', 3027341],
       [615.0, 835.0, 'New England', 'New Hampshire', 1353465],
       [3350.0, 6048.0, 'Mid-Atlantic', 'New Jersey', 8886025],
       [602.0, 1949.0, 'Mountain', 'New Mexico', 2092741],
       [52070.0, 39827.0, 'Mid-Atlantic', 'New York', 19530351],
       [2817.0, 6451.0, 'South Atlantic', 'North Carolina', 10381615],
       [75.0, 467.0, 'West North Central', 'North Dakota', 758080],
       [3320.0, 6929.0, 'East North Central', 'Ohio', 11676341],
       [1048.0, 2823.0, 'West South Central', 'Oklahoma', 3940235],
       [3337.0, 11139.0, 'Pacific', 'Oregon', 4181886],
       [5349.0, 8163.0, 'Mid-Atlantic', 'Pennsylvania', 12800922],
       [354.0, 747.0, 'New England', 'Rhode Island', 1058287],
       [851.0, 3082.0, 'South Atlantic', 'South Carolina', 5084156],
       [323.0, 836.0, 'West North Central', 'South Dakota', 878698],
       [1744.0, 6139.0, 'East South Central', 'Tennessee', 6771631],
       [6111.0, 19199.0, 'West South Central', 'Texas', 28628666],
       [972.0, 1904.0, 'Mountain', 'Utah', 3153550],
       [511.0, 780.0, 'New England', 'Vermont', 624358],
       [2047.0, 3928.0, 'South Atlantic', 'Virginia', 8501286],
       [5880.0, 16424.0, 'Pacific', 'Washington', 7523869],
       [222.0, 1021.0, 'South Atlantic', 'West Virginia', 1804291],
       [2167.0, 2740.0, 'East North Central', 'Wisconsin', 5807406],
       [205.0, 434.0, 'Mountain', 'Wyoming', 577601],
       [222.0, 434.0, 'Mountain', 'Wyoming', 577601]], dtype=object)

In [ ]:
homelessness.columns

Index(['family_members', 'individuals', 'region', 'state', 'state_pop'], dtype='object')

In [ ]:
homelessness.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51],
           dtype='int64')

In [ ]:
homelessness_ind=homelessness.sort_values('individuals')
homelessness_ind

    family_members  individuals  ...                 state state_pop
51           222.0        434.0  ...               Wyoming    577601
50           205.0        434.0  ...               Wyoming    577601
34            75.0        467.0  ...          North Dakota    758080
7            374.0        708.0  ...              Delaware    965479
39           354.0        747.0  ...          Rhode Island   1058287
45           511.0        780.0  ...               Vermont    624358
29           615.0        835.0  ...         New Hampshire   1353465
41           323.0        836.0  ...          South Dakota    878698
26           422.0        983.0  ...               Montana   1060665
48           222.0       1021.0  ...         West Virginia   1804291
24           328.0       1024.0  ...           Mississippi   2981020
12           715.0       1297.0  ...                 Idaho   1750536
1            582.0       1434.0  ...                Alaska    735139
16           773.0       1443.0  ...                Kansas   2911359
19          1066.0       1450.0  ...                 Maine   1339057
15          1038.0       1711.0  ...                  Iowa   3148618
27           676.0       1745.0  ...              Nebraska   1925614
44           972.0       1904.0  ...                  Utah   3153550
31           602.0       1949.0  ...            New Mexico   2092741
6           1696.0       2280.0  ...           Connecticut   3571520
3            432.0       2280.0  ...              Arkansas   3009733
18           519.0       2540.0  ...             Louisiana   4659690
0            864.0       2570.0  ...               Alabama   4887681
17           953.0       2735.0  ...              Kentucky   4461153
49          2167.0       2740.0  ...             Wisconsin   5807406
36          1048.0       2823.0  ...              Oklahoma   3940235
40           851.0       3082.0  ...        South Carolina   5084156
8           3134.0       3770.0  ...  District of Columbia    701547
25          2107.0       3776.0  ...              Missouri   6121623
14          1482.0       3776.0  ...               Indiana   6695497
46          2047.0       3928.0  ...              Virginia   8501286
23          3250.0       3993.0  ...             Minnesota   5606249
11          2399.0       4131.0  ...                Hawaii   1420593
20          2230.0       4914.0  ...              Maryland   6035802
22          3142.0       5209.0  ...              Michigan   9984072
30          3350.0       6048.0  ...            New Jersey   8886025
42          1744.0       6139.0  ...             Tennessee   6771631
33          2817.0       6451.0  ...        North Carolina  10381615
13          3891.0       6752.0  ...              Illinois  12723071
21         13257.0       6811.0  ...         Massachusetts   6882635
35          3320.0       6929.0  ...                  Ohio  11676341
10          2556.0       6943.0  ...               Georgia  10511131
28           486.0       7058.0  ...                Nevada   3027341
2           2606.0       7259.0  ...               Arizona   7158024
5           3250.0       7607.0  ...              Colorado   5691287
38          5349.0       8163.0  ...          Pennsylvania  12800922
37          3337.0      11139.0  ...                Oregon   4181886
47          5880.0      16424.0  ...            Washington   7523869
43          6111.0      19199.0  ...                 Texas  28628666
9           9587.0      21443.0  ...               Florida  21244317
32         52070.0      39827.0  ...              New York  19530351
4          20964.0     109008.0  ...            California  39461588

[52 rows x 5 columns]

In [ ]:
homelessness_fam=homelessness.sort_values('family_members',ascending=False)
homelessness_fam

    family_members  individuals  ...                 state state_pop
32         52070.0      39827.0  ...              New York  19530351
4          20964.0     109008.0  ...            California  39461588
21         13257.0       6811.0  ...         Massachusetts   6882635
9           9587.0      21443.0  ...               Florida  21244317
43          6111.0      19199.0  ...                 Texas  28628666
47          5880.0      16424.0  ...            Washington   7523869
38          5349.0       8163.0  ...          Pennsylvania  12800922
13          3891.0       6752.0  ...              Illinois  12723071
30          3350.0       6048.0  ...            New Jersey   8886025
37          3337.0      11139.0  ...                Oregon   4181886
35          3320.0       6929.0  ...                  Ohio  11676341
5           3250.0       7607.0  ...              Colorado   5691287
23          3250.0       3993.0  ...             Minnesota   5606249
22          3142.0       5209.0  ...              Michigan   9984072
8           3134.0       3770.0  ...  District of Columbia    701547
33          2817.0       6451.0  ...        North Carolina  10381615
2           2606.0       7259.0  ...               Arizona   7158024
10          2556.0       6943.0  ...               Georgia  10511131
11          2399.0       4131.0  ...                Hawaii   1420593
20          2230.0       4914.0  ...              Maryland   6035802
49          2167.0       2740.0  ...             Wisconsin   5807406
25          2107.0       3776.0  ...              Missouri   6121623
46          2047.0       3928.0  ...              Virginia   8501286
42          1744.0       6139.0  ...             Tennessee   6771631
6           1696.0       2280.0  ...           Connecticut   3571520
14          1482.0       3776.0  ...               Indiana   6695497
19          1066.0       1450.0  ...                 Maine   1339057
36          1048.0       2823.0  ...              Oklahoma   3940235
15          1038.0       1711.0  ...                  Iowa   3148618
44           972.0       1904.0  ...                  Utah   3153550
17           953.0       2735.0  ...              Kentucky   4461153
0            864.0       2570.0  ...               Alabama   4887681
40           851.0       3082.0  ...        South Carolina   5084156
16           773.0       1443.0  ...                Kansas   2911359
12           715.0       1297.0  ...                 Idaho   1750536
27           676.0       1745.0  ...              Nebraska   1925614
29           615.0        835.0  ...         New Hampshire   1353465
31           602.0       1949.0  ...            New Mexico   2092741
1            582.0       1434.0  ...                Alaska    735139
18           519.0       2540.0  ...             Louisiana   4659690
45           511.0        780.0  ...               Vermont    624358
28           486.0       7058.0  ...                Nevada   3027341
3            432.0       2280.0  ...              Arkansas   3009733
26           422.0        983.0  ...               Montana   1060665
7            374.0        708.0  ...              Delaware    965479
39           354.0        747.0  ...          Rhode Island   1058287
24           328.0       1024.0  ...           Mississippi   2981020
41           323.0        836.0  ...          South Dakota    878698
48           222.0       1021.0  ...         West Virginia   1804291
51           222.0        434.0  ...               Wyoming    577601
50           205.0        434.0  ...               Wyoming    577601
34            75.0        467.0  ...          North Dakota    758080

[52 rows x 5 columns]

In [ ]:
homelessness_mul=homelessness.sort_values(['region','family_members'])
homelessness_mul

    family_members  individuals  ...                 state state_pop
14          1482.0       3776.0  ...               Indiana   6695497
49          2167.0       2740.0  ...             Wisconsin   5807406
22          3142.0       5209.0  ...              Michigan   9984072
35          3320.0       6929.0  ...                  Ohio  11676341
13          3891.0       6752.0  ...              Illinois  12723071
24           328.0       1024.0  ...           Mississippi   2981020
0            864.0       2570.0  ...               Alabama   4887681
17           953.0       2735.0  ...              Kentucky   4461153
42          1744.0       6139.0  ...             Tennessee   6771631
30          3350.0       6048.0  ...            New Jersey   8886025
38          5349.0       8163.0  ...          Pennsylvania  12800922
32         52070.0      39827.0  ...              New York  19530351
50           205.0        434.0  ...               Wyoming    577601
51           222.0        434.0  ...               Wyoming    577601
26           422.0        983.0  ...               Montana   1060665
28           486.0       7058.0  ...                Nevada   3027341
31           602.0       1949.0  ...            New Mexico   2092741
12           715.0       1297.0  ...                 Idaho   1750536
44           972.0       1904.0  ...                  Utah   3153550
2           2606.0       7259.0  ...               Arizona   7158024
5           3250.0       7607.0  ...              Colorado   5691287
39           354.0        747.0  ...          Rhode Island   1058287
45           511.0        780.0  ...               Vermont    624358
29           615.0        835.0  ...         New Hampshire   1353465
19          1066.0       1450.0  ...                 Maine   1339057
6           1696.0       2280.0  ...           Connecticut   3571520
21         13257.0       6811.0  ...         Massachusetts   6882635
1            582.0       1434.0  ...                Alaska    735139
11          2399.0       4131.0  ...                Hawaii   1420593
37          3337.0      11139.0  ...                Oregon   4181886
47          5880.0      16424.0  ...            Washington   7523869
4          20964.0     109008.0  ...            California  39461588
48           222.0       1021.0  ...         West Virginia   1804291
7            374.0        708.0  ...              Delaware    965479
40           851.0       3082.0  ...        South Carolina   5084156
46          2047.0       3928.0  ...              Virginia   8501286
20          2230.0       4914.0  ...              Maryland   6035802
10          2556.0       6943.0  ...               Georgia  10511131
33          2817.0       6451.0  ...        North Carolina  10381615
8           3134.0       3770.0  ...  District of Columbia    701547
9           9587.0      21443.0  ...               Florida  21244317
34            75.0        467.0  ...          North Dakota    758080
41           323.0        836.0  ...          South Dakota    878698
27           676.0       1745.0  ...              Nebraska   1925614
16           773.0       1443.0  ...                Kansas   2911359
15          1038.0       1711.0  ...                  Iowa   3148618
25          2107.0       3776.0  ...              Missouri   6121623
23          3250.0       3993.0  ...             Minnesota   5606249
3            432.0       2280.0  ...              Arkansas   3009733
18           519.0       2540.0  ...             Louisiana   4659690
36          1048.0       2823.0  ...              Oklahoma   3940235
43          6111.0      19199.0  ...                 Texas  28628666

[52 rows x 5 columns]

In [ ]:
homelessness_mul=homelessness.sort_values(['region','family_members'],ascending=[True,False])
homelessness_mul

    family_members  individuals  ...                 state state_pop
13          3891.0       6752.0  ...              Illinois  12723071
35          3320.0       6929.0  ...                  Ohio  11676341
22          3142.0       5209.0  ...              Michigan   9984072
49          2167.0       2740.0  ...             Wisconsin   5807406
14          1482.0       3776.0  ...               Indiana   6695497
42          1744.0       6139.0  ...             Tennessee   6771631
17           953.0       2735.0  ...              Kentucky   4461153
0            864.0       2570.0  ...               Alabama   4887681
24           328.0       1024.0  ...           Mississippi   2981020
32         52070.0      39827.0  ...              New York  19530351
38          5349.0       8163.0  ...          Pennsylvania  12800922
30          3350.0       6048.0  ...            New Jersey   8886025
5           3250.0       7607.0  ...              Colorado   5691287
2           2606.0       7259.0  ...               Arizona   7158024
44           972.0       1904.0  ...                  Utah   3153550
12           715.0       1297.0  ...                 Idaho   1750536
31           602.0       1949.0  ...            New Mexico   2092741
28           486.0       7058.0  ...                Nevada   3027341
26           422.0        983.0  ...               Montana   1060665
51           222.0        434.0  ...               Wyoming    577601
50           205.0        434.0  ...               Wyoming    577601
21         13257.0       6811.0  ...         Massachusetts   6882635
6           1696.0       2280.0  ...           Connecticut   3571520
19          1066.0       1450.0  ...                 Maine   1339057
29           615.0        835.0  ...         New Hampshire   1353465
45           511.0        780.0  ...               Vermont    624358
39           354.0        747.0  ...          Rhode Island   1058287
4          20964.0     109008.0  ...            California  39461588
47          5880.0      16424.0  ...            Washington   7523869
37          3337.0      11139.0  ...                Oregon   4181886
11          2399.0       4131.0  ...                Hawaii   1420593
1            582.0       1434.0  ...                Alaska    735139
9           9587.0      21443.0  ...               Florida  21244317
8           3134.0       3770.0  ...  District of Columbia    701547
33          2817.0       6451.0  ...        North Carolina  10381615
10          2556.0       6943.0  ...               Georgia  10511131
20          2230.0       4914.0  ...              Maryland   6035802
46          2047.0       3928.0  ...              Virginia   8501286
40           851.0       3082.0  ...        South Carolina   5084156
7            374.0        708.0  ...              Delaware    965479
48           222.0       1021.0  ...         West Virginia   1804291
23          3250.0       3993.0  ...             Minnesota   5606249
25          2107.0       3776.0  ...              Missouri   6121623
15          1038.0       1711.0  ...                  Iowa   3148618
16           773.0       1443.0  ...                Kansas   2911359
27           676.0       1745.0  ...              Nebraska   1925614
41           323.0        836.0  ...          South Dakota    878698
34            75.0        467.0  ...          North Dakota    758080
43          6111.0      19199.0  ...                 Texas  28628666
36          1048.0       2823.0  ...              Oklahoma   3940235
18           519.0       2540.0  ...             Louisiana   4659690
3            432.0       2280.0  ...              Arkansas   3009733

[52 rows x 5 columns]

In [ ]:
homelessness['individuals']

0       2570.0
1       1434.0
2       7259.0
3       2280.0
4     109008.0
5       7607.0
6       2280.0
7        708.0
8       3770.0
9      21443.0
10      6943.0
11      4131.0
12      1297.0
13      6752.0
14      3776.0
15      1711.0
16      1443.0
17      2735.0
18      2540.0
19      1450.0
20      4914.0
21      6811.0
22      5209.0
23      3993.0
24      1024.0
25      3776.0
26       983.0
27      1745.0
28      7058.0
29       835.0
30      6048.0
31      1949.0
32     39827.0
33      6451.0
34       467.0
35      6929.0
36      2823.0
37     11139.0
38      8163.0
39       747.0
40      3082.0
41       836.0
42      6139.0
43     19199.0
44      1904.0
45       780.0
46      3928.0
47     16424.0
48      1021.0
49      2740.0
50       434.0
51       434.0
Name: individuals, dtype: float64

In [ ]:
homelessness[['region','state_pop','family_members']]

                region  state_pop  family_members
0   East South Central    4887681           864.0
1              Pacific     735139           582.0
2             Mountain    7158024          2606.0
3   West South Central    3009733           432.0
4              Pacific   39461588         20964.0
5             Mountain    5691287          3250.0
6          New England    3571520          1696.0
7       South Atlantic     965479           374.0
8       South Atlantic     701547          3134.0
9       South Atlantic   21244317          9587.0
10      South Atlantic   10511131          2556.0
11             Pacific    1420593          2399.0
12            Mountain    1750536           715.0
13  East North Central   12723071          3891.0
14  East North Central    6695497          1482.0
15  West North Central    3148618          1038.0
16  West North Central    2911359           773.0
17  East South Central    4461153           953.0
18  West South Central    4659690           519.0
19         New England    1339057          1066.0
20      South Atlantic    6035802          2230.0
21         New England    6882635         13257.0
22  East North Central    9984072          3142.0
23  West North Central    5606249          3250.0
24  East South Central    2981020           328.0
25  West North Central    6121623          2107.0
26            Mountain    1060665           422.0
27  West North Central    1925614           676.0
28            Mountain    3027341           486.0
29         New England    1353465           615.0
30        Mid-Atlantic    8886025          3350.0
31            Mountain    2092741           602.0
32        Mid-Atlantic   19530351         52070.0
33      South Atlantic   10381615          2817.0
34  West North Central     758080            75.0
35  East North Central   11676341          3320.0
36  West South Central    3940235          1048.0
37             Pacific    4181886          3337.0
38        Mid-Atlantic   12800922          5349.0
39         New England    1058287           354.0
40      South Atlantic    5084156           851.0
41  West North Central     878698           323.0
42  East South Central    6771631          1744.0
43  West South Central   28628666          6111.0
44            Mountain    3153550           972.0
45         New England     624358           511.0
46      South Atlantic    8501286          2047.0
47             Pacific    7523869          5880.0
48      South Atlantic    1804291           222.0
49  East North Central    5807406          2167.0
50            Mountain     577601           205.0
51            Mountain     577601           222.0

1.Obtain a series on the column of interest
2.convert it into a booelan series
3.surround with dataframe name[...]

In [ ]:
homelessness[(homelessness['individuals']>6000)]

    family_members  individuals              region           state  state_pop
2           2606.0       7259.0            Mountain         Arizona    7158024
4          20964.0     109008.0             Pacific      California   39461588
5           3250.0       7607.0            Mountain        Colorado    5691287
9           9587.0      21443.0      South Atlantic         Florida   21244317
10          2556.0       6943.0      South Atlantic         Georgia   10511131
13          3891.0       6752.0  East North Central        Illinois   12723071
21         13257.0       6811.0         New England   Massachusetts    6882635
28           486.0       7058.0            Mountain          Nevada    3027341
30          3350.0       6048.0        Mid-Atlantic      New Jersey    8886025
32         52070.0      39827.0        Mid-Atlantic        New York   19530351
33          2817.0       6451.0      South Atlantic  North Carolina   10381615
35          3320.0       6929.0  East North Central            Ohio   11676341
37          3337.0      11139.0             Pacific          Oregon    4181886
38          5349.0       8163.0        Mid-Atlantic    Pennsylvania   12800922
42          1744.0       6139.0  East South Central       Tennessee    6771631
43          6111.0      19199.0  West South Central           Texas   28628666
47          5880.0      16424.0             Pacific      Washington    7523869

In [ ]:
homelessness[homelessness['region'] == 'Pacific']

    family_members  individuals   region       state  state_pop
1            582.0       1434.0  Pacific      Alaska     735139
4          20964.0     109008.0  Pacific  California   39461588
11          2399.0       4131.0  Pacific      Hawaii    1420593
37          3337.0      11139.0  Pacific      Oregon    4181886
47          5880.0      16424.0  Pacific  Washington    7523869

In [ ]:
homelessness[np.logical_and[(homelessness['region'] == 'Pacific'),(homelessness['individuals']>6000)]]

NameError: ignored

In [ ]:
homelessness[homelessness['state'].isin(['California','Nevada'])]

    family_members  individuals    region       state  state_pop
4          20964.0     109008.0   Pacific  California   39461588
28           486.0       7058.0  Mountain      Nevada    3027341

In [ ]:
homelessness['total']=homelessness['individuals']+homelessness['family_members']
homelessness

    family_members  individuals  ... state_pop     total
0            864.0       2570.0  ...   4887681    3434.0
1            582.0       1434.0  ...    735139    2016.0
2           2606.0       7259.0  ...   7158024    9865.0
3            432.0       2280.0  ...   3009733    2712.0
4          20964.0     109008.0  ...  39461588  129972.0
5           3250.0       7607.0  ...   5691287   10857.0
6           1696.0       2280.0  ...   3571520    3976.0
7            374.0        708.0  ...    965479    1082.0
8           3134.0       3770.0  ...    701547    6904.0
9           9587.0      21443.0  ...  21244317   31030.0
10          2556.0       6943.0  ...  10511131    9499.0
11          2399.0       4131.0  ...   1420593    6530.0
12           715.0       1297.0  ...   1750536    2012.0
13          3891.0       6752.0  ...  12723071   10643.0
14          1482.0       3776.0  ...   6695497    5258.0
15          1038.0       1711.0  ...   3148618    2749.0
16           773.0       1443.0  ...   2911359    2216.0
17           953.0       2735.0  ...   4461153    3688.0
18           519.0       2540.0  ...   4659690    3059.0
19          1066.0       1450.0  ...   1339057    2516.0
20          2230.0       4914.0  ...   6035802    7144.0
21         13257.0       6811.0  ...   6882635   20068.0
22          3142.0       5209.0  ...   9984072    8351.0
23          3250.0       3993.0  ...   5606249    7243.0
24           328.0       1024.0  ...   2981020    1352.0
25          2107.0       3776.0  ...   6121623    5883.0
26           422.0        983.0  ...   1060665    1405.0
27           676.0       1745.0  ...   1925614    2421.0
28           486.0       7058.0  ...   3027341    7544.0
29           615.0        835.0  ...   1353465    1450.0
30          3350.0       6048.0  ...   8886025    9398.0
31           602.0       1949.0  ...   2092741    2551.0
32         52070.0      39827.0  ...  19530351   91897.0
33          2817.0       6451.0  ...  10381615    9268.0
34            75.0        467.0  ...    758080     542.0
35          3320.0       6929.0  ...  11676341   10249.0
36          1048.0       2823.0  ...   3940235    3871.0
37          3337.0      11139.0  ...   4181886   14476.0
38          5349.0       8163.0  ...  12800922   13512.0
39           354.0        747.0  ...   1058287    1101.0
40           851.0       3082.0  ...   5084156    3933.0
41           323.0        836.0  ...    878698    1159.0
42          1744.0       6139.0  ...   6771631    7883.0
43          6111.0      19199.0  ...  28628666   25310.0
44           972.0       1904.0  ...   3153550    2876.0
45           511.0        780.0  ...    624358    1291.0
46          2047.0       3928.0  ...   8501286    5975.0
47          5880.0      16424.0  ...   7523869   22304.0
48           222.0       1021.0  ...   1804291    1243.0
49          2167.0       2740.0  ...   5807406    4907.0
50           205.0        434.0  ...    577601     639.0
51           222.0        434.0  ...    577601     656.0

[52 rows x 6 columns]

In [ ]:
homelessness['p_ind']=homelessness['individuals']/ homelessness['total']
homelessness

    family_members  individuals  ...     total     p_ind
0            864.0       2570.0  ...    3434.0  0.748398
1            582.0       1434.0  ...    2016.0  0.711310
2           2606.0       7259.0  ...    9865.0  0.735834
3            432.0       2280.0  ...    2712.0  0.840708
4          20964.0     109008.0  ...  129972.0  0.838704
5           3250.0       7607.0  ...   10857.0  0.700654
6           1696.0       2280.0  ...    3976.0  0.573441
7            374.0        708.0  ...    1082.0  0.654344
8           3134.0       3770.0  ...    6904.0  0.546060
9           9587.0      21443.0  ...   31030.0  0.691041
10          2556.0       6943.0  ...    9499.0  0.730919
11          2399.0       4131.0  ...    6530.0  0.632619
12           715.0       1297.0  ...    2012.0  0.644632
13          3891.0       6752.0  ...   10643.0  0.634408
14          1482.0       3776.0  ...    5258.0  0.718144
15          1038.0       1711.0  ...    2749.0  0.622408
16           773.0       1443.0  ...    2216.0  0.651173
17           953.0       2735.0  ...    3688.0  0.741594
18           519.0       2540.0  ...    3059.0  0.830337
19          1066.0       1450.0  ...    2516.0  0.576312
20          2230.0       4914.0  ...    7144.0  0.687850
21         13257.0       6811.0  ...   20068.0  0.339396
22          3142.0       5209.0  ...    8351.0  0.623758
23          3250.0       3993.0  ...    7243.0  0.551291
24           328.0       1024.0  ...    1352.0  0.757396
25          2107.0       3776.0  ...    5883.0  0.641849
26           422.0        983.0  ...    1405.0  0.699644
27           676.0       1745.0  ...    2421.0  0.720777
28           486.0       7058.0  ...    7544.0  0.935578
29           615.0        835.0  ...    1450.0  0.575862
30          3350.0       6048.0  ...    9398.0  0.643541
31           602.0       1949.0  ...    2551.0  0.764014
32         52070.0      39827.0  ...   91897.0  0.433387
33          2817.0       6451.0  ...    9268.0  0.696051
34            75.0        467.0  ...     542.0  0.861624
35          3320.0       6929.0  ...   10249.0  0.676066
36          1048.0       2823.0  ...    3871.0  0.729269
37          3337.0      11139.0  ...   14476.0  0.769481
38          5349.0       8163.0  ...   13512.0  0.604130
39           354.0        747.0  ...    1101.0  0.678474
40           851.0       3082.0  ...    3933.0  0.783626
41           323.0        836.0  ...    1159.0  0.721311
42          1744.0       6139.0  ...    7883.0  0.778764
43          6111.0      19199.0  ...   25310.0  0.758554
44           972.0       1904.0  ...    2876.0  0.662031
45           511.0        780.0  ...    1291.0  0.604183
46          2047.0       3928.0  ...    5975.0  0.657406
47          5880.0      16424.0  ...   22304.0  0.736370
48           222.0       1021.0  ...    1243.0  0.821400
49          2167.0       2740.0  ...    4907.0  0.558386
50           205.0        434.0  ...     639.0  0.679186
51           222.0        434.0  ...     656.0  0.661585

[52 rows x 7 columns]

In [ ]:
homelessness['ind10k']=(homelessness['individuals']*10000)/homelessness['state_pop']
homelessness

    family_members  individuals  ...     p_ind     ind10k
0            864.0       2570.0  ...  0.748398   5.258117
1            582.0       1434.0  ...  0.711310  19.506515
2           2606.0       7259.0  ...  0.735834  10.141067
3            432.0       2280.0  ...  0.840708   7.575423
4          20964.0     109008.0  ...  0.838704  27.623825
5           3250.0       7607.0  ...  0.700654  13.366045
6           1696.0       2280.0  ...  0.573441   6.383837
7            374.0        708.0  ...  0.654344   7.333148
8           3134.0       3770.0  ...  0.546060  53.738381
9           9587.0      21443.0  ...  0.691041  10.093523
10          2556.0       6943.0  ...  0.730919   6.605379
11          2399.0       4131.0  ...  0.632619  29.079406
12           715.0       1297.0  ...  0.644632   7.409159
13          3891.0       6752.0  ...  0.634408   5.306895
14          1482.0       3776.0  ...  0.718144   5.639611
15          1038.0       1711.0  ...  0.622408   5.434130
16           773.0       1443.0  ...  0.651173   4.956448
17           953.0       2735.0  ...  0.741594   6.130702
18           519.0       2540.0  ...  0.830337   5.451006
19          1066.0       1450.0  ...  0.576312  10.828516
20          2230.0       4914.0  ...  0.687850   8.141420
21         13257.0       6811.0  ...  0.339396   9.895919
22          3142.0       5209.0  ...  0.623758   5.217310
23          3250.0       3993.0  ...  0.551291   7.122409
24           328.0       1024.0  ...  0.757396   3.435066
25          2107.0       3776.0  ...  0.641849   6.168299
26           422.0        983.0  ...  0.699644   9.267771
27           676.0       1745.0  ...  0.720777   9.062045
28           486.0       7058.0  ...  0.935578  23.314189
29           615.0        835.0  ...  0.575862   6.169351
30          3350.0       6048.0  ...  0.643541   6.806193
31           602.0       1949.0  ...  0.764014   9.313145
32         52070.0      39827.0  ...  0.433387  20.392363
33          2817.0       6451.0  ...  0.696051   6.213869
34            75.0        467.0  ...  0.861624   6.160300
35          3320.0       6929.0  ...  0.676066   5.934222
36          1048.0       2823.0  ...  0.729269   7.164547
37          3337.0      11139.0  ...  0.769481  26.636307
38          5349.0       8163.0  ...  0.604130   6.376884
39           354.0        747.0  ...  0.678474   7.058577
40           851.0       3082.0  ...  0.783626   6.061970
41           323.0        836.0  ...  0.721311   9.514077
42          1744.0       6139.0  ...  0.778764   9.065763
43          6111.0      19199.0  ...  0.758554   6.706215
44           972.0       1904.0  ...  0.662031   6.037640
45           511.0        780.0  ...  0.604183  12.492833
46          2047.0       3928.0  ...  0.657406   4.620477
47          5880.0      16424.0  ...  0.736370  21.829195
48           222.0       1021.0  ...  0.821400   5.658732
49          2167.0       2740.0  ...  0.558386   4.718113
50           205.0        434.0  ...  0.679186   7.513837
51           222.0        434.0  ...  0.661585   7.513837

[52 rows x 8 columns]

In [ ]:
homelessness=homelessness[homelessness['ind10k']>20]
homelessness

    family_members  individuals          region  ...     total     p_ind     ind10k
4          20964.0     109008.0         Pacific  ...  129972.0  0.838704  27.623825
8           3134.0       3770.0  South Atlantic  ...    6904.0  0.546060  53.738381
11          2399.0       4131.0         Pacific  ...    6530.0  0.632619  29.079406
28           486.0       7058.0        Mountain  ...    7544.0  0.935578  23.314189
32         52070.0      39827.0    Mid-Atlantic  ...   91897.0  0.433387  20.392363
37          3337.0      11139.0         Pacific  ...   14476.0  0.769481  26.636307
47          5880.0      16424.0         Pacific  ...   22304.0  0.736370  21.829195

[7 rows x 8 columns]

In [ ]:
homelessness.sort_values('ind10k',ascending=False)

    family_members  individuals          region  ...     total     p_ind     ind10k
8           3134.0       3770.0  South Atlantic  ...    6904.0  0.546060  53.738381
11          2399.0       4131.0         Pacific  ...    6530.0  0.632619  29.079406
4          20964.0     109008.0         Pacific  ...  129972.0  0.838704  27.623825
37          3337.0      11139.0         Pacific  ...   14476.0  0.769481  26.636307
28           486.0       7058.0        Mountain  ...    7544.0  0.935578  23.314189
47          5880.0      16424.0         Pacific  ...   22304.0  0.736370  21.829195
32         52070.0      39827.0    Mid-Atlantic  ...   91897.0  0.433387  20.392363

[7 rows x 8 columns]

In [ ]:
homelessness[['state','ind10k']]

                   state     ind10k
4             California  27.623825
8   District of Columbia  53.738381
11                Hawaii  29.079406
28                Nevada  23.314189
32              New York  20.392363
37                Oregon  26.636307
47            Washington  21.829195

In [ ]:
homelessness.set_index('ind10k')

           family_members  individuals  ...     total     p_ind
ind10k                                  ...
27.623825         20964.0     109008.0  ...  129972.0  0.838704
53.738381          3134.0       3770.0  ...    6904.0  0.546060
29.079406          2399.0       4131.0  ...    6530.0  0.632619
23.314189           486.0       7058.0  ...    7544.0  0.935578
20.392363         52070.0      39827.0  ...   91897.0  0.433387
26.636307          3337.0      11139.0  ...   14476.0  0.769481
21.829195          5880.0      16424.0  ...   22304.0  0.736370

[7 rows x 7 columns]

In [ ]:
sales=pd.read_csv('sales.csv',index_col=0)
sales.head()

         date  department  ...  unemployment  weekly_sales
0  2010-02-05           1  ...         8.106      24924.50
1  2010-03-05           1  ...         8.106      21827.90
2  2010-04-02           1  ...         7.808      57258.43
3  2010-05-07           1  ...         7.808      17413.94
4  2010-06-04           1  ...         7.808      17558.09

[5 rows x 9 columns]

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  50 non-null     object
 1   department            50 non-null     int64
 2   fuel_price_usd_per_l  50 non-null     float64
 3   is_holiday            50 non-null     bool
 4   store                 50 non-null     int64
 5   temperature_c         50 non-null     float64
 6   type                  50 non-null     object
 7   unemployment          50 non-null     float64
 8   weekly_sales          50 non-null     float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 3.6+ KB

In [ ]:
sales['weekly_sales'].mean()

30426.4844

In [ ]:
sales['weekly_sales'].median()

34575.66499999999

In [ ]:
sales['date'].max()

'2011-01-07'

In [ ]:
sales['date'].min()

'2010-02-05'

In [ ]:
import numpy as np

np.percentile([1,2,3,4,5,6,7,8,9,10],[20,50,80])

array([2.8, 5.5, 8.2])

In [ ]:
np.median([1,2,3,4,5,6,7,8,9,10])

5.5

In [ ]:
def iqr(column):
  return column.quantile(0.75)-column.quantile(0.25)
sales['weekly_sales'].agg(iqr)

26041.8475

In [ ]:
sales['weekly_sales'].cumsum()

0       24924.50
1       46752.40
2      104010.83
3      121424.77
4      138982.86
5      155316.00
6      172824.41
7      189066.19
8      209160.38
9      243399.26
10     265916.82
11     281901.06
12     332506.33
13     380904.31
14     428354.81
15     476257.82
16     525012.29
17     572090.01
18     622121.74
19     671136.79
20     716965.81
21     763347.24
22     807752.26
23     850954.55
24     864694.67
25     876970.25
26     888127.33
27     897500.13
28     905501.54
29     913359.42
30     940078.44
31     959160.24
32     968935.41
33     978760.63
34     989617.48
35    1005425.63
36    1045379.67
37    1083465.86
38    1121275.35
39    1158443.69
40    1198991.88
41    1238765.59
42    1279739.47
43    1318061.35
44    1352973.80
45    1390954.35
46    1428064.90
47    1466012.70
48    1498242.08
49    1521324.22
Name: weekly_sales, dtype: float64

In [ ]:
sales['weekly_sales'].cummax()

0     24924.50
1     24924.50
2     57258.43
3     57258.43
4     57258.43
5     57258.43
6     57258.43
7     57258.43
8     57258.43
9     57258.43
10    57258.43
11    57258.43
12    57258.43
13    57258.43
14    57258.43
15    57258.43
16    57258.43
17    57258.43
18    57258.43
19    57258.43
20    57258.43
21    57258.43
22    57258.43
23    57258.43
24    57258.43
25    57258.43
26    57258.43
27    57258.43
28    57258.43
29    57258.43
30    57258.43
31    57258.43
32    57258.43
33    57258.43
34    57258.43
35    57258.43
36    57258.43
37    57258.43
38    57258.43
39    57258.43
40    57258.43
41    57258.43
42    57258.43
43    57258.43
44    57258.43
45    57258.43
46    57258.43
47    57258.43
48    57258.43
49    57258.43
Name: weekly_sales, dtype: float64

In [ ]:
sales.drop_duplicates(subset=['department','store'])

          date  department  ...  unemployment  weekly_sales
0   2010-02-05           1  ...         8.106      24924.50
12  2010-02-05           2  ...         8.106      50605.27
24  2010-02-05           3  ...         8.106      13740.12
36  2010-02-05           4  ...         8.106      39954.04
48  2010-02-05           5  ...         8.106      32229.38

[5 rows x 9 columns]

In [ ]:
sales['department'].value_counts()

4    12
3    12
2    12
1    12
5     2
Name: department, dtype: int64

In [ ]:
sales['department'].value_counts(normalize=True)

4    0.24
3    0.24
2    0.24
1    0.24
5    0.04
Name: department, dtype: float64

In [ ]:
sales.groupby('department')['store'].mean()

department
1    1
2    1
3    1
4    1
5    1
Name: store, dtype: int64

In [ ]:
sales.groupby('department')['store'].sum()

department
1    12
2    12
3    12
4    12
5     2
Name: store, dtype: int64

In [ ]:
df=pd.read_csv('auto-mpg.csv')
df.iloc[:15]

     mpg  displ   hp  weight  accel  origin  size
0   18.0  250.0   88    3139   14.5      US  15.0
1    9.0  304.0  193    4732   18.5      US  20.0
2   36.1   91.0   60    1800   16.4    Asia  10.0
3   18.5  250.0   98    3525   19.0      US  15.0
4   34.3   97.0   78    2188   15.8  Europe  10.0
5   32.9  119.0  100    2615   14.8    Asia  10.0
6   32.2  108.0   75    2265   15.2    Asia  10.0
7   22.0  121.0   76    2511   18.0  Europe  10.0
8   15.0  302.0  130    4295   14.9      US  20.0
9   17.0  302.0  140    3449   10.5      US  20.0
10  44.0   97.0   52    2130   24.6  Europe  10.0
11  24.5  151.0   88    2740   16.0      US  10.0
12  32.0  135.0   84    2295   11.6      US  10.0
13  14.0  351.0  148    4657   13.5      US  20.0
14  15.0  400.0  150    3761    9.5      US  20.0

In [ ]:
df.groupby(['origin','size'])['mpg'].sum()

origin  size
Asia    7.5       82.2
        10.0    2180.1
        15.0     143.3
Europe  10.0    1714.5
        12.5      82.1
        15.0      80.4
US      10.0    1932.9
        15.0    1434.1
        20.0    1541.2
Name: mpg, dtype: float64

In [ ]:
df.groupby(['origin','size'])['mpg'].agg([np.min,np.max])

             amin  amax
origin size
Asia   7.5   18.0  23.7
       10.0  20.0  46.6
       15.0  19.0  32.7
Europe 10.0  18.0  44.3
       12.5  20.3  36.4
       15.0  16.2  30.7
US     10.0  19.0  39.0
       15.0  15.0  38.0
       20.0   9.0  26.6

In [ ]:
sales.describe()

       department  fuel_price_usd_per_l  ...  unemployment  weekly_sales
count   50.000000             50.000000  ...     50.000000     50.000000
mean     2.600000              0.710185  ...      7.864480  30426.484400
std      1.212183              0.029389  ...      0.124708  14645.631478
min      1.000000              0.679451  ...      7.742000   7857.880000
25%      2.000000              0.689093  ...      7.787000  16603.340000
50%      3.000000              0.705076  ...      7.808000  34575.665000
75%      4.000000              0.715378  ...      7.838000  42645.187500
max      5.000000              0.786176  ...      8.106000  57258.430000

[8 rows x 6 columns]